{% extends "base.html" %} {% block title %} {{imgsCategoria.categoria}} {% endblock title %} {% block categorias %}
<main>
    <div class="container mt-5">
        <div class="row mt-3">
            {% for imgCategoria in imgsCategoria %}
            <div class="col-md-4 mb-4 mt-3">
                <div class="card">
                    <div class="card-header">
                        <img class="card-img-top" src="{{imgCategoria.img.url}}" alt="Imagen de {{imgCategoria.categoria}}">
                    </div>
                    <div class="card-body">
                        <!-- Aquí puedes agregar más contenido si es necesario -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock categorias %}