{% extends "base.html" %} {% load static %} {% block index %}
<main class="poppins-regular">
    {% block portada %}
    <section>
        <h1 class="h1">Portada</h1>
    </section>

    {% endblock portada %} {% block galeria %}
    <section id="galeria">
        <h1 class="h1">Galería</h1>
        <div class="row mx-auto">
            {% for categoria in categorias %}
            <div class="card col-4 mx-3 my-3" style="width: 18rem;">
                <div class="card-head mt-3">
                    <h4 class="card-title">{{categoria}}</h4>
                    <h4 class="card-title">{{categoria.nombre}}</h4>
                </div>
                <div class="body mx-3">
                    <p class="card-text">{{categoria.descripcion}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    {% endblock galeria %} {% block sobreMi %}
    <section id="sobreMi">
        <h1 class="h1">Sobre Mí</h1>
    </section>

    {% endblock sobreMi %} {% block testimonios %}
    <section id="testimonios">
        <h1 class="h1">Testimonios</h1>
    </section>

    {% endblock testimonios %} {% block blog %}
    <section id="blog">
        <h1 class="h1">Blog</h1>
    </section>

    {% endblock blog %}
</main>
{% endblock index %}